html {
  --bg-color: #242424;
  --text-color: #fff;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.field-wrapper {
  flex-direction: row;
  gap: 10px;
  display: flex;
}
.field-wrapper label {
  width: 200px;
  display: inline-block;
  text-align: right;
}

.button-submit {
  width: 100px;
  margin: 0 auto;
}
.input-info {
  font-size: 12px;
}
